In [1]:
import os
import sqlite3
import pandas as pd

# Run this to go up a level
os.chdir(os.path.dirname(os.path.abspath('')))

In [2]:
conn = sqlite3.connect("mfgdb")

In [3]:
builds_df = pd.read_sql_query("SELECT * FROM Builds", conn)
builds_df = builds_df.drop(0).reset_index(drop=True)
builds_df = builds_df.rename(columns={'Build ID:': 'BuildID'})

print("Builds Data:")
display(builds_df.head())

Builds Data:

,BuildID,Nickname,Operator,DatePrinted,Customer,BuildPlateType,BuildPlateID,FileLocation,ParameterFileName,Successful,...,EstimatedPowderNeeded,PreBuildNotes,PostBuildNotes,RecoaterType,RecyclingState,DosingBoost,GasFlowVoltage,BuildShiftX,BuildShiftY,PowderID
0,B002,Rook,Elliott,2020-02-07,Max,Full,1,C:\Users\sa-saldana\Documents\Training\Custome...,Example Link,False,...,,,,,,,,,,1
1,B003,ISO Artifact Build,Elliott,2020-02-07,Max,Full,1,C:\Users\sa-saldana\Documents\Training\Custome...,Example Link,,...,,,,,,,,,,1
2,B004,Jaime Hexagons,Elliott,2020-02-07,Max,RBV,1,C:\Users\sa-saldana\Documents\Training\Custome...,Example Link,,...,,,,,,,,,,1
3,B005,Beam Width Calibration 2,Elliott,2020-02-07,PMRC,Full,2,C:\Users\sa-saldana\Documents\Builds\B005,B005_01-B005_05,,...,,,,,,,,,,1
4,B006,"CT Artifact01, Test supports, GT Logo","Elliott,Max",2020-03-13,,Full,3?,C:\Users\sa-saldana\Documents\Builds\B006,EOS_DirectPart,,...,,,,,,,,,,1

In [5]:
builds_df["Successful"].unique()

array(['False', '', 'True'], dtype=object)

In [6]:
# Sensor Data 
sensors_df = pd.read_sql_query("SELECT * FROM Sensors", conn)

print("Sensors:")
display(sensors_df.head())

Sensors:

,Serial,Name,DataKind,Model,Manufacturer,Resolution,Depth
0,1,cam1,PHX-200S-MC,optical image,Lucid Vision,5472x3648,12
1,2,cam2,PHX-032S-MC,optical image,Lucid Vision,2048x1536,12
2,3,laser power,daq-power,voltage,NIST,0.0001,32

In [7]:
# Sensor Imaging database
sensor_data = pd.read_sql_query("SELECT * FROM SensorData", conn)
display(sensor_data.head())

print(sensor_data.dtypes)

   RecordID BuildID SensorSerial        Date      Time
0         1    B058         cam1  2023-01-06  15:36:40
1         2    B058         cam1  2023-01-06  15:36:47
2         3    B058         cam1  2023-01-06  15:36:54
3         4    B058         cam1  2023-01-06  15:41:50
4         5    B058         cam1  2023-01-06  15:41:59

RecordID         int64
BuildID         object
SensorSerial    object
Date            object
Time            object
dtype: object

In [ ]:
# Analysis Case: Find images which correspond to failed builds
query = """
       with Failed_Builds as (
              Select *
              From Builds 
              Where Successful = 'False'
              )
              Select S.RecordID,
                     S.BuildID, 
                     S.SensorSerial, 
                     F.DatePrinted
              From Failed_Builds F 
              Join SensorData S
              On F.BuildID = S.BuildID
       """
# Use case: 
failed_builds = pd.read_sql_query(query, conn)
failed_builds.BuildID.unique()

array(['B076', 'B071', 'B072'], dtype=object)

In [28]:
# Double check that these are the same as what the equivalent logic in pandas would tell us ! 
success_buildids = builds_df[builds_df.Successful=='False'].BuildID.unique()
sensor_buildids = sensor_data.BuildID.unique()

list(set(success_buildids) & set(sensor_buildids))

['B071', 'B072', 'B076']

In [29]:
# Analysis Case: Find images taken between date - date 
query2 = """
      Select *
      From SensorData
      WHERE DATE(Date) BETWEEN '2023-01-01' AND '2023-01-15'
"""
# Use case: 

Images_bt_dates = pd.read_sql_query(query2, conn)
display(Images_bt_dates)

     RecordID BuildID SensorSerial        Date      Time
0           1    B058         cam1  2023-01-06  15:36:40
1           2    B058         cam1  2023-01-06  15:36:47
2           3    B058         cam1  2023-01-06  15:36:54
3           4    B058         cam1  2023-01-06  15:41:50
4           5    B058         cam1  2023-01-06  15:41:59
..        ...     ...          ...         ...       ...
823       824    B058         cam2  2023-01-06  21:54:36
824       825    B058         cam2  2023-01-06  21:54:48
825       826    B058         cam2  2023-01-06  21:55:37
826       827    B058         cam2  2023-01-06  21:55:48
827       828    B058         cam2  2023-01-10  15:07:07

[828 rows x 5 columns]

In [30]:
# Analysis how long a build took
query3 = """
     with Image_Datetime as (
            Select RecordID, 
                   BuildID, 
                   DATETIME(Date ||' '|| Time) as Date_Time
            From SensorData
            )
      Select BuildID,
             (julianday(max(Date_Time)) - julianday(min(Date_Time))) * 24 as Time_Spent_Hours
      From Image_Datetime
      Group By BuildID
      Order by Time_Spent_Hours DESC  
"""
# Use case: 

Build_Time_Spent = pd.read_sql_query(query3, conn)
display(Build_Time_Spent)

                         BuildID  Time_Spent_Hours
0                           B102        595.728611
1                           B063        526.220556
2                           B065        476.557500
3                           B076        390.815278
4                           B118        361.143889
5                           B116        184.360278
6                           B101        166.626389
7                           B099        145.891667
8                           B072        144.048611
9                           B058        118.529722
10                          B089        113.946111
11                          B100         98.647222
12                          B108         97.943889
13                          B078         92.870833
14                          B077         77.467500
15                          B095         74.423056
16                          B071         70.669722
17                          B123         54.717500
18                          B093         45.171389
19                          B064         45.117778
20                          B080         43.218333
21                          B075         36.940000
22                          B112         26.477500
23                          B088         24.341389
24  B_NinePlusOneLayTwoNotchTest         24.205278
25                          B094         24.058889
26                          B109         23.941944
27                          B111         22.137500
28                          B125         21.461111
29                          B114         21.040278
30                          B113         20.978056
31                          B115         19.573889
32                          B103         19.389167
33                          B120         19.317500
34                          B082         19.201944
35                          B098         17.579722
36                          B096         17.130000
37                          B079         10.451944
38                          B074          8.192500
39                          B091          8.002778
40                          B121          7.280000
41                          B122          5.550556
42                          B092          3.795000
43                          B127          3.425000
44                          B062          3.274722
45                          B104          2.907500
46                          B105          2.831944
47                          B070          2.780556
48                          B129          2.657500
49                          B085          2.313611
50                          B090          1.619722
51                          B128          1.612500
52                          B107          1.585833
53                          B086          1.529167
54                          B124          1.265833
55                          B084          1.148056
56                          B106          1.129167
57                          B110          0.791389
58                          B087          0.039444
59                          B069          0.000000

In [31]:
conn.close()