In [ ]:
import os
import pandas as pd

path = '/Users/nikkivanhandel/Desktop/L0001.csv'

The following data set is from the NIST Additive Manufacturing Metrology Testbed. The given file is a single layer for their machine

https://www.nist.gov/publications/process-monitoring-dataset-additive-manufacturing-metrology-testbed-ammt-overhang-part

In [ ]:
# Channel names (x position, yposition, power, trigger (laser on or off))
df = pd.read_csv(path, names=['X', 'Y', 'P', 'T'])

In [ ]:
df.time =

               X         Y    P    T
0       0.000000  0.000000  0.0  0.0
1       0.000000  0.000000  0.0  0.0
2       0.000000  0.000000  0.0  0.0
3       0.000000  0.000000  0.0  0.0
4       0.000000  0.000000  0.0  0.0
...          ...       ...  ...  ...
395361  0.000090 -0.000270  0.0  0.0
395362  0.000063 -0.000187  0.0  0.0
395363  0.000038 -0.000115  0.0  0.0
395364  0.000018 -0.000053  0.0  0.0
395365  0.000000  0.000000  0.0  0.0

[395366 rows x 4 columns]